@import 'tailwindcss';

:root {
    --clr-bg: #FFFFFF;
    --clr-surface: #BCCEFF;
    --clr-primary: #003C90;
    --clr-primary-hover: #0F52BA;
    --clr-input-bg: #EFF4FF;

    --clr-text-primary: #0B1C30;
    --clr-text-secondary: #434653;
    --clr-text-muted: #a6a9b7;
    --clr-text-light: #FFFFFF;

    --clr-success: #1B6D24;
    --clr-success-light: #A0F399;
    --clr-pending: #FACC15;
    --clr-pending-light: #f3ed99;
    --clr-danger: #EF4444;
    --clr-danger-light: #f39999;

    --clr-border: #C3C6D5;

    --pad-phone : 12px;

    --font-body: "Work Sans", sans-serif;
}

*{
    border-color: var(--clr-border);
}

body {
    font-family: var(--font-body);
    color: var(--clr-text-secondary);
}